
@{
    ViewBag.Title = "Dashboard";
    Layout = "~/Views/Shared/HeadLayout.cshtml";
}

<h2>Dashboard</h2>


<script src="~/Resources/js/jquery-3.4.1.min.js"></script>
<div class="container-fluid">
    <div class="block-header">
      
    </div>

    <!-- Widgets -->
    <div class="row clearfix">
        <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">


            

        </div>
        <a href="/Employee/Index">
            <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                <div class="info-box bg-deep-purple hover-expand-effect">
                    <div class="icon">
                        <span class="blks"><img src="~/Resources/images/user.png" /></span>
                    </div>
                    <div class="content">
                        <div class="text">Daily Attendance</div>
                       
                    </div>
                </div>
            </div>
        </a>

        <a href="/Employee/EmployeReport">
            <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                <div class="info-box bg-cyan hover-expand-effect">
                    <div class="icon">
                        <span class="blks"><img src="~/Resources/images/user.png" /></span>
                    </div>
                    <div class="content">
                        <div class="text">Employee Report</div>

                    </div>
                </div>
            </div>

        </a>
    </div>
    
    </div>
    <!-- #END# Widgets -->
    <!-- #END# CPU Usage -->



    


